dl {

}

dt {
    font-family: Arial, serif;
    padding: 0px;
    vertical-align: middle;
    background-color:;
    cursor: pointer;
    line-height: 17px;
    margin: 0px;
    padding: 5px 0px;
    font-size: 12px;
    color: #333333;
    display: block;
    min-height: 22px;
    cursor: pointer;
    font-weight: lighter;
}

dt span {
    /* float: right; */
    margin-right: 7px;
    /* font-weight: bold; */
    font-size: .9em;
}

.menubox dt:hover {
    filter: alpha(opacity = 60);
    -moz-opacity: 0.60;
    opacity: 0.60;
}

dd {
    margin: 0px !important;
    vertical-align: middle;
    font-size: 13px;
    line-height: 19px;
    color: #747475;
}

dd a {
    font-family: Arial, serif;
    font-weight: 200;
    line-height: 15px;
    display: block;
    padding: 10px 20px;
    background-color:;
    color: #5f5f5f;
    font-weight: 200;
}

dd a:hover {
    color: #0e8454;
}

dd a.active {
    background-color: #edeff0;
    color: #0e8454;
}

dd a b {
    display: block;
    padding-right: 10px;
    font-weight: 400;
    background-color:;
    margin-bottom: 3px;
    font-weight: bold;
}

dl.accordion.gris {
    background-color: #F7F7F7;
    position: relative;
    top: -1px;
}

dl ul {
    padding-left: 10px;
}

.accordion dt:before {
    content: " ";
    background-image: url('/migestion/images/vistaCumplimientoTareas/acarrowVerde.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    color: #67809f;
    background-color:;
    text-align: center;
    float: right;
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

.accordion dt.accordion-active:before {
    content: " ";
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}



.accordion5 dt:before {
    content: " ";
    background-image: url('/migestion/images/vistaCumplimientoTareas/acarrowGris.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    color: #67809f;
    background-color:;
    text-align: center;
    float: right;
    width: 18px;
    height: 14px;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    margin-right: 20px;
}

.accordion5 dt.accordion-active:before {
    content: " ";
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    background-image: url('/migestion/images/vistaCumplimientoTareas/acarrowBlanca.png');
}

.accordion5 dt {
    padding: 15px 0px;
    margin: 3px 0px;
}

.main dt {
    font-family: Arial, serif;
    padding: 0px;
    vertical-align: middle;
    background-color:;
    cursor: pointer;
    line-height: 17px;
    margin: 0px;
    margin-top: 10px;
    padding: 0px 20px 5px 20px;
    font-size: 1.3em;
    font-weight: 500;
    color: #0e8454;
    display: block;
    border-bottom: 1px solid #0e8454;
    min-height: 25px;
    cursor: pointer;
    margin: 0px 0px 15px 0px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.main  dd {

}

.main  dt:after {
    content: " ";
    background-image: url('/migestion/images/vistaCumplimientoTareas/mas.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    color: #67809f;
    background-color:;
    text-align: center;
    float: right;
    position: 99% 2px;
    width: 27px;
    height: 27px;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

.main  dt.accordion2-active:after {
    content: " ";
    background-image: url('/migestion/images/vistaCumplimientoTareas/menos.svg');
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

@media screen and (max-width: 500px) {
    .main dt {
        font-family: Arial, serif;
        font-size: 1em;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    }
}