/* NUEVO ESTILO PARA DETALLE */

.deDetalleGeneral2{
    width:100%; height:50%; position: relative;
}
.deMarco2-2{
    width:90%; height:95%; background: #d2d2d5; position: absolute; margin-top:3%; margin-left:4%; margin-right:4%; border-radius: 20px;
}
.deMarco2-2-1{
    width:100%; height:40%;  position: relative;
}
.deMarco2-2-2{
    width:100%; height:8.5%;  position: relative;
}
.deMarco2-2-3{
    width:100%; height:50%; position: relative;
}
.deMarco2-2-4{
    width:100%; height:1.5%; position: relative;
}
.deMarcoDetalle-23{
    width:100%; height:10%;
}
.margenCarruselUno{
    width: 20%;
    height:100%;
    position:relative;
    display: inline-block;
    float: left;
}
.margenCarruselTres{
    width: 43%;
    height:100%;
    position:relative;
    display: inline-block;
}
.margenCarruselCuatro{
    width: 20%;
    height:100%;
    position:relative;
    display: inline-block;
    float: right;
}
#margenImagen{
    width: 100%;
    max-width: 500px;
    height:100%;
    margin: 0 auto;
    background: black;
    position: relative;
}
.tamaImagen{
    width:100%;
    height:100%;
    position: absolute;
}
.tamaImagen:hover{
    cursor: pointer;
}
.imagAnterior{
    height: 40px;
    width: 30px;
    margin-left: 30px;
    margin-top: -55px;
    position: absolute;
}
.imagAnterior:hover{
    cursor: pointer;
}
.imagPosterior{
    height: 40px;
    width: 30px;
    margin-right: 30px;
    float: right;
    margin-top: -55px;
}
.imagPosterior{
    cursor: pointer;
}
.margenCarruselUno-1{
    width: 100%;
    height: 40%;
    position: relative;
}
.margenCarruselUno-2{
    width: 100%;
    height: 60%;
    position: relative;
}

.celdaNumeros{
    width: 100%;
    height: 100%;
    text-align: center;
}