@import url(reset.css);

@import url(webforms.css);

@import url(accordion.css);

html {
    font-family: Arial, serif;
    font-weight: 200;
    height: 100%;
}

body {
    font-family: Arial, serif;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
    color: #222222;
    font-size: 12px;
    line-height: 22px;
    height: 100%;
}

.tLeft {
    text-align: left;
}

.header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #ffffff;
    /*	-moz-box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);
    -webkit-box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);
    box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);*/
}

.logo {
    width: 100%;
    height: 48px;
    vertical-align: middle;
    text-align: center;
}

.logo img {
    width: 130px;
    margin-top: 10px;
}

.title {
    position: relative;
    height: 56px;
    background-color: #32bb8f;
    color: #ffffff;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.title a {
    display: inline-block;
    width: 12.6%;
    height: 40px;
    padding: 3px;
    margin: 5px -1px 5px 0px;
    border-right: 1px solid #ffffff;
    text-align: center;
}

.title a:first-child, .title a:last-child {
    border-right: 1px solid transparent;
}

a.hom {
    margin-top: 8px;
}

/*.title a:after {
        float: left;
width: 0;
height: 0;
border-style: solid;
border-width: 0 15px 20px 15px;
border-color: transparent transparent #007bff transparent;
}*/
.title a.active:before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f2f2f2 transparent;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: absolute;
    top: 47px;
    margin-left: 6px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #ffffff;
    color: #0e8454;
    z-index: 20;
    -moz-box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);
    -webkit-box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);
    box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);
    text-align: center;
}

.footer a {
    color: #b3b3b3;
    border-top: 4px solid transparent;
    display: inline-block;
    width: 20%;
    height: 50px;
    padding-top: 10px;
    margin: 0px 2%;
    font-size: .7em;
}

.footer a.active, .footer a:hover {
    border-top: 4px solid #32bb8f;
    color: #32bb8f;
}

.footer a span {
    display: block;
}

.fecha {
    background-color: #32bb8f;
    color: #ffffff;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.box {
    width: 96%;
    max-width: 800px;
    margin: 0 auto;
}

.box a img {
    width: 30px;
}

.box a img.ico {
    width: 30px;
    margin-left: 12px;
}

.home {
    width: 100%;
    height: 100%;
    background-image:
        url('/migestion/images/vistaCumplimientoTareas/homebg.jpg');
    background-size: cover;
    background-position: top center;
}

.whiter {
    background-color: rgba(255, 255, 255, 0.30);
    padding-top: 10px;
}

.hoverflow {
    width: 100%;
    height: 220px;
    overflow: auto;
}

.hspacer {
    display: block;
    height: 100px;
}

.fspacer {
    display: block;
    height: 20px;
}

a.updates {
    width: 90%;
    height: 40px;
    margin: 7px auto;
    font-size: .92em;
    line-height: 1.5em;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.94);
    display: block;
    color: #616161;
    overflow: hidden;
    border-radius: 2px;
    -moz-border-radius: 2px;
    white-space: nowrap;
    -moz-box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);
    -webkit-box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);
    box-shadow: 0 0px 25px rgba(17, 17, 17, 0.1);
}

a.updates:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

a.updates span.image {
    width: 14%;
    margin-right: 2%;
    float: left;
    text-align: center;
}

a.updates span.text {
    width: 70%;
    float: left;
}

a.updates span.text b {
    color: #32bb8f;
    float: left;
    width: 100%;
}

.biglinks {
    background-color: #f2f2f2;
    color: #9e9e9e;
    display: block;
    padding: 9px;
    margin-bottom: 2px;
}

.biglinks:hover {
    background-color: #e9e9e9;
    color: #9e9e9e;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.biglinks img {
    vertical-align: middle;
    width: 32px;
    margin-right: 10px;
}

table.avance {
    width: 90%;
    margin: 0 auto;
    margin-top: 7px;
}

table.avance th {
    font-size: .9em;
    line-height: 1em;
    color: #9e9e9e;
    font-weight: lighter;
    padding: 5px 0px;
}

table.avance tr:nth-child(2) th:nth-child(2) {
    width: 69%;
}

table.bloquer {
    width: 100%;
    margin: 0 auto;
}

table.bloquer th {
    width: 13%;
    font-size: .9em;
    line-height: 1em;
    color: #9e9e9e;
    font-weight: lighter;
    padding: 13px 0px;
}

table.bloquer tbody tr {
    background-color: #ffffff;

    /*border-radius:  4px;
    -moz-border-radius:  4px;
    border-bottom: 7px solid #f2f2f2; */
}

table.bloquer.bloquer2.sub1 tbody tr {
    background-color: transparent;
}

table.bloquer1 tbody tr {
    background-color: transparent;
}

table.bloquer tbody tr td {
    padding: 5px;
    line-height: 1.7em;
}

table.bloquer tbody tr td:first-child {
    font-size: 1em;
    line-height: 1.4em;
    color: #616161;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    width: 35%;
}

table.bloquer tr th:first-child {
    width: 35%;
}

table.linea tbody tr td:first-child {
    background-image:
        url('/migestion/images/vistaCumplimientoTareas/linea.png');
    background-repeat: no-repeat;
    background-position: 93% 6px;
}

table.bloquer tbody tr td:nth-child(2), table.bloquer tbody tr td:nth-child(3)
{
    /*	font-size: 1.4em;*/
    line-height: 1.4em;
    color: #616161;
    text-align: center;
}

table.bloquer tbody tr td div.valor1 {
    font-size: 1.2em;
    margin: auto;
}

table.bloquer tbody tr td:last-child {
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
}

table.subnivel tbody tr:nth-child(1) td {
    border-bottom: 0px;
    padding: 11px;
    padding-bottom: 0px;
}

table.subnivel tbody tr td {
    border-bottom: 1px solid #f3f3f3; /*padding: 14px;*/
}

table.bloquer tbody tr td span {
    display: block;
    color: #aaaaaa;
    font-size: .8em;
}

table.bloquer div.radio {
    width: 47px;
    height: 48px;
    font-size: 1.4em;
    line-height: 45px;
    text-align: center;
    /*background-color: #111111;*/
    color: #ffffff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    font-weight: bold;
}

table.bloquer div.radio1 {
    width: 40px;
    height: 42px;
    font-size: 0.9em;
    /* line-height: 52px; */
    /* text-align: center; */
    /* background-color: #111111; */
    color: #ffffff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    /* margin: 0px 1px; */
    /* margin-top: 5px; */
    margin: auto;
    vertical-align: middle;
    /* padding: 10px; */
    margin: 0px 3px;
    border-color: #ffffff;
    background-color: transparent;
    border: 1px solid;
    position: absolute;
    margin-top: 2px;
    font-weight: bold;
}

.Gris1 {
    color: #aaaaaa;
    font-size: 1em;
}

table.bloquer div.radio.verde {
    background-color: #006240;
    margin: 0 auto;
}

table.bloquer div.radio.naranja {
    background-color: #ffb74d;
    margin: 0 auto;
}

table.bloquer div.radio.rojo {
    background-color: #ff4a4a;
    margin: 0 auto;
}

table.bloquer div.radio.completo {
    background-image:
        url('/migestion/images/vistaCumplimientoTareas/completo.svg');
}

table.bloquer div.radio.falta {
    background-image:
        url('/migestion/images/vistaCumplimientoTareas/falta.svg');
}

table.bloquer2 {
    width: 100%;
}

table.bloquer2 tr th {
    width: 13%;
    text-align: center;
}

table.bloquer2 tr td {
    width: 13%;
    text-align: center;
}

table.bloquer2 tr td div {
    margin: auto;
}

.goshadow {
    background-color: #ffffff;
    text-align: center;
    padding: 5px 0px;
    -moz-box-shadow: 0 0px 12px rgba(17, 17, 17, 0.4);
    -webkit-box-shadow: 0 0px 12px rgba(17, 17, 17, 0.4);
    box-shadow: 0 0px 12px rgba(17, 17, 17, 0.4);
}

.goshadow1 {
    padding: 5px 0px;
    -moz-box-shadow: 0 0px 12px rgba(17, 17, 17, 0.4);
    -webkit-box-shadow: 0 0px 12px rgba(17, 17, 17, 0.4);
    box-shadow: 3px 3px 4px rgba(227, 227, 230, 0.8);
}

.goborder {
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

.content {
    width: 97%;
    margin: 35px auto 0px auto;
    min-height: 150px;
}

.hdiv {
    height: 120px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.aviso {
    display: inline-block;
    border-radius: 8px;
    -moz-border-radius: 8px;
    border: 1px solid #ed7f7f;
    -moz-box-shadow: 0 5px 5px rgba(17, 17, 17, 0.1);
    -webkit-box-shadow: 0 5px 5px rgba(17, 17, 17, 0.1);
    box-shadow: 0 5px 5px rgba(17, 17, 17, 0.1);
}

div.acerrar {
    position: relative;
    height: 40px;
    display: block;
}

img.acerrar {
    position: absolute;
    right: -3px;
    top: -3px;
}

div.user {
    font-family: Arial, serif;
    margin-top: 5px;
    float: right;
    background-color:;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
}

div.user div.foto {
    display: inline-block;
    border-radius: 30px;
    border: 1px solid silver;
    overflow: hidden;
    width: 30px;
}

div.user div.foto  img {
    width: 100%;
}

div.user div.fotobig {
    display: inline-block;
    border-radius: 90px;
    overflow: hidden;
    width: 60px;
    margin: 19px;
}

div.user div.fotobig  img {
    width: 100%;
}

div.user span {
    display: inline-block;
    line-height: 1.5em;
    text-align: right;
    margin-left: 7px;
    font-size: .9em;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

div.user .masmenu {
    vertical-align: middle;
}

div.secmenu {
    text-align: left;
    padding-left: 2%;
}

a {
    color: #b4a373;
}

a:hover, a.active {
    color: #424242;
}

.rojo {
    color: #d4243c;
}

.clear {
    clear: both;
}

.inblock {
    display: inline-block;
}

.icon {
    vertical-align: middle;
    margin: 0 7px;
}

h1 {
    font-size: 1.5em;
    line-height: 3em;
    font-weight: lighter;
    color: #ffffff;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

h2 {
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: lighter;
    padding: 10px 15px;
    color: #747474;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

h3 {
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: lighter;
    padding: 10px 15px;
    color: #9e9e9e;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.titPiso {
    margin: auto;
    width: 100%;
}

h2 div {
    float: left;
    padding: 10px 4px;
    color: #7b7b7b;
}

h2 div:nth-child(1) {
    border-right: 1px solid #ffffff;
    width: 40%;
    text-align: right;
}

h2 div:nth-child(2) {
    font-weight: bold;
}

.verde {
    color: #0e8454;
}

.gris {
    color: #878787;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper.white {
    background-color: #ffffff;
}

.pointer {
    cursor: pointer;
}

div.padding {
    margin: 15px;
}

div.overflow {
    overflow: auto;
    height: 100%;
    margin-bottom: 15px;
    padding-bottom: 0px;
    background-color:;
}

table.items {
    font-family: Arial, serif;
    width: 100%;
    margin-bottom: 15px;
}

table.items tbody tr:hover {
    background-color: #f9f9f9;
}

table.items th {
    text-align: left;
    line-height: 1.2em;
    color: #b4a373;
    border-bottom: 1px solid #b4a373;
    padding: 3px 3px 7px 3px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

table.items tr:first-child td {
    padding-top: 15px;
}

table.items td {
    text-align: left;
    color: #8c8c8c;
    padding-bottom: 3px 0px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

table.items td a {
    text-decoration: underline;
}

table.ccenter th {
    text-align: center;
}

table.ccenter td {
    text-align: center;
    white-space: nowrap;
    padding: 0px 5px;
}

table.col1left th:nth-child(1) {
    text-align: left;
}

table.col1left td:nth-child(1) {
    text-align: left;
}

table.col2left th:nth-child(2) {
    text-align: left;
}

table.col2left td:nth-child(2) {
    text-align: left;
}

table.nowrap th {
    white-space: nowrap;
}

table.nowrap td {
    white-space: nowrap;
}

.pt25 {
    padding: 25px 0px 7px 0px;
}

.pt35 {
    padding: 55px 0px 25px 0px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 49%;
    background-color:;
}

.w10 {
    width: 16%;
    background-color:;
    max-width: 68px;
}

.w80 {
    width: 79%;
    line-height: 1.3em;
    background-color:;
}

.h50 {
    height: 50%;
}

.h100 {
    height: 100%;
}

.mh200 {
    max-height: 200px;
}

.mh320 {
    max-height: 320px;
}

.monto {
    float: right;
}

.goright {
    float: right;
}

.goleft {
    float: left;
}

.tleft {
    text-align: left !important;
    font-family: Arial, serif;
}

.tcenter {
    text-align: center !important;
    font-family: Arial, serif;
}

.tright {
    text-align: right !important;
    font-family: Arial, serif;
}

.vtop {
    vertical-align: top !important;
    font-family: Arial, serif;
}

.vmiddle {
    vertical-align: middle !important;
    font-family: Arial, serif;
}

.vbottom {
    vertical-align: bottom !important;
    font-family: Arial, serif;
}

hr {
    border: 0;
    border-top: 1px solid #ffffff;
    width: 90%;
    margin: 0 auto;
}

.ico {
    vertical-align: middle;
}

.superstatus {
    width: 95%;
    max-width: 360px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}

div.inner {
    margin: 0 auto;
    width: 100%;
}

div.inner1 {
    margin: 0 auto;
    width: 90%;
}

div.inner2 {
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
}

div.botones {
    text-align: center !important;
    width: 100%;
}

div.inner div.info1 {
    width: 90%;
    margin: auto;
}

a.btn {
    text-decoration: none;
    font-size: 14px;
    width: 85%;
    line-height: 23px !important;
    background-color: transparent;
    border: 2px solid #32bb8f;
    color: #32bb8f !important;
    padding: 10px;
    margin: 5px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

a.btn img {
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

a.btn.full {
    background-color: #b4a373;
    color: #ffffff !important;
}

div.row {
    background-color:;
    line-height: 25px;
}

div.modcol {
    display: inline-block;
    width: 49%;
    font-size: 1.1em;
    color: #aaaaaa;
    font-weight: 200;
    font-weight: lighter;
}

div.modcol.verde {
    color: #0e8454;
}

.por70 {
    display: inline-block;
    width: 69.5%;
}

.por60 {
    display: inline-block;
    width: 59.5%;
}

.por50 {
    display: inline-block;
    width: 49.5%;
}

.por40 {
    display: inline-block;
    width: 39.5%;
}

.por30 {
    display: inline-block;
    width: 29.5%;
}

.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container div {
    background-color:;
    display: inline-block;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:;
}

.show {
    display: block;
}

.w3-container {
    background-color: #79b44a;
    text-align: right;
    color: #ffffff;
    height: 17px;
    line-height: 17px;
    font-size: .9em;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray,
.w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    border: 1px solid #dddddd;
}

.w3-round {
    border-radius: 28px !important;
    overflow: hidden;
}

.forcecal {
    position: relative;
    width: 100%;
    border-radius: 11px;
    -moz-border-radius: 11px;
    overflow: hidden;
    display: block;
}

.calendario {
    width: 100%;
    background-color: #ffffff;
    border-radius: 11px;
    -moz-border-radius: 11px;
    overflow: hidden;
}

.calendario thead {
    background-color: #30bb91;
}

.calendario thead th {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: lighter;
    padding: 10px 3px;
    text-align: center;
}

.calendario a {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.calendario tbody th {
    color: #9e9e9e;
    padding-top: 9px;
}

.calendario tbody td {
    text-align: center;
    padding: 7px;
    font-size: 1.3em;
    font-weight: lighter;
    z-index: 1;
}

.calendario tbody td div {
    position: relative;
}

.calendario tbody td div span {
    background-color: #30bb91;
    color: #ffffff;
    position: absolute;
    top: -3px;
    right: -3px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: .6em;
    font-weight: lighter;
    border-radius: 11px;
    -moz-border-radius: 11px;
}

.calendario tbody td:hover {
    position: relative;
    z-index: 100;
    border-radius: 11px;
    -moz-border-radius: 11px;
}

.calendario tbody td.gris {
    color: #cdcdcd;
}

.Acofecha {
    background-color: #ffffff;
    background-image:
        url('/migestion/images/vistaCumplimientoTareas/fondoVerde.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5% 100%;
}

.Acofolios {
    background-color: #ffffff;
    background-image:
        url('/migestion/images/vistaCumplimientoTareas/fondoRojo.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}

.AcoEvidencia {
    background-color: #ffffff;
    background-image:
        url('/migestion/images/vistaCumplimientoTareas/fondoAzul.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}

.Acofondo {
    background-repeat: repeat;
    color: #ffffff
}

.AcoTit {
    margin-left: 7%;
}

.txtslider {
    color: #9e9e9e;
    font-size: 1.1em;
}

.txtslider span {
    font-weight: bold;
}

.txtslider span.txtRojo {
    color: #ef4047;
    margin-left: 50px;
}

.txtslider span.txt2 {
    color: #616161;
    font-size: 1.2em
}

.calendar {
    width: 75%;
    margin: auto;
    font-size: .9em;
}

.calendar tr td {
    padding: 6px 0px;
}

.calendar tr td:nth-child(1) {
    width: 20%;
}

.calendar tr td:nth-child(2) {
    width: 45%;
}

.calendar tr td:nth-child(3) {
    width: 30%;
}

.calendar tr td span {
    font-weight: bold;
}

.folio {
    width: 95%;
    margin: auto;
    font-size: .9em;
}

.folio tr td {
    padding: 6px 0px;
}

.folio tr td:nth-child(1) {
    text-align: left;
}

.folio tr td:nth-child(2) {
    text-align: right;
}

.folio tr td span {
    font-weight: bold;
}

.evidencia {
    width: 95%;
    margin: auto;
    font-size: .9em;
}

.evidencia tr td {
    padding: 6px 0px;
}

.evidencia tr td:nth-child(1) {
    text-align: left;
    width: 65%;
}

.evidencia tr td:nth-child(2) {
    text-align: right;
    width: 30%;
}

.evidencia tr td span {
    font-weight: bold;
    background-color: #c1ceff;
    padding: 7px;
}

.raya {
    color: #42b37b;
    margin-left: 1px;
}

.info {
    width: 90%;
}

.separador {
    height: 8px;
}

.box a img.imgBack {
    width: 24px;
}

@media screen and (max-width: 380px) {
    table.bloquer tr th:first-child {
        width: 35%;
    }
    table.bloquer tr th:last-child {
        text-align: center;
    }
    table.bloquer tr th {
        width: 13%;
    }
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
        url('/migestion/images/ajax-loader.gif')
        50% 50%
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}