/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/
.png {
    behavior: url("iepngfix.htc");
}

.mainbanner {
    background-color: #f5f5f5;
    width: 99%;
    margin: auto;
}

.owl-pagination {
    background-color: #f5f5f5;
    _margin-top: 20px;
    display: none;
}

.owl-theme .owl-controls {
    margin-top: 0px;
    text-align: center;
    z-index: 1000;
    display: none;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    float: left;
    zoom: 1;
    font-size: 12px;
    -moz-border-radius: 30px;
    filter: Alpha(Opacity = 50);
    background-repeat: no-repeat;
    height: 128px;
}

.owl-buttons {
    width: 100%;
    height: 50px;
    top: 46%;
    position: absolute;
    left: 1%;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
    background-image:
        url('../../images/vistaCumplimientoTareas/slider/next.png');
    width: 5%;
    float: right;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
    background-image:
        url('../../images/vistaCumplimientoTareas/slider/back.png');
    width: 5%;
}

/*.owl-theme .owl-controls .owl-buttons div.owl-prev:hover{ background-image: url(../img/slider/back.svg);}
.owl-theme .owl-controls .owl-buttons div.owl-next:hover{background-image: url(../img/slider/next.svg); width: 84px;float: right;}*/
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity = 100); /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

.item {
    /* margin: 28px; */
    padding: 5px;
    background-color: #ffffff;
}

.item img {
    margin: auto;
    width: 98%;
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    width: 11px;
    height: 10px;
    *display: inline; /*IE7 life-saver */
    margin: 10px 5px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 11px;
    height: 10px;
    _height: 5px;
    margin: 5px 7px;
    /*	filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;


    _border-radius: 50%;*/
    behavior: url("iepngfix.htc");
    background-image:
        url('../../images/vistaCumplimientoTareas/slider/bullet2.png');
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span
{
    behavior: url("iepngfix.htc");
    background-image:
        url('../../images/vistaCumplimientoTareas/slider/bullet1.png');
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}