/* - - - - - RANGE SLIDER - - - - - - */
.rangeSlider {
    padding-bottom: 10px;
    width: 77%;
    margin: 0 auto;
    color: #42b37b;
}

.rangeSlider .amount {
    position: relative;
}

.rangeSlider .amount ul {
    width: 100%;
    position: relative;
    top: 7px;
}

.rangeSlider .amount ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
    color: #FFFFFF;
}

.rangeSlider .amount ul li table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.rangeSlider .amount div {
    top: -30px;
    position: absolute;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    *box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.25);
    font-size: 13px;
    color: #CC763B;
    font-weight: bold;
}
/* - - - - - END RANGE SLIDER - - - - - - */