* {
    outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
/*table, caption, tbody, tfoot, thead, tr, th, td,*/ article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0px;
    border: 0;
    vertical-align: top;
    /*font-family:  'Roboto-Regular', arial, verdana;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {

}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

b {
    font-weight: bold;
}

a {
    text-decoration: none;
}

c {
    float: right;
    margin-right: 8%;
    margin-left: 8%;
}

.textoPila {
    font-size: 11px;
    line-height: 10px;
    font-weight: 100;
    color: #616161;
}


.margenGeneral{
    content: "";
    width: 43px;
    height: 25px;
    background: pink;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

.margenTablaTexto:before {
    width: 40px;
    height: 12px;
    margin-left: 1px;
}

.margenTabla:before {
    width: 100%;
    height: 100%;
}

.margenDivPila:before {
    width: 40px;
    height: 12px;
    background: white;
    margin-left: 1px;
    border: 0.1px solid #616161;
}

.porcentajePila:before {
    height: 100%;
    width: 5%;
    background: #006240;
}

/* form reset */
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"], input[type="password"],
input[type="search"], input[type="tel"], input[type="text"], input[type="time"],
input[type="url"], input[type="week"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: #fff;
    color: #000;
    outline: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 12px;
    height: 1em;
    vertical-align: middle;
}

select, select, select {
    background: #fff
        url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: 97% center;
    padding: 0 25px 0 8px;
    font-size: .875em
}