input[type="text"], input[type="date"], input[type="number"], input[type="password"],
select {
    background-color: transparent;
    border: 1px solid #fefefe;
    background-color: #ffffff;
    color: #878787;
    padding: 10px;
    font-size: 1.1em;
    width: 100%;
    height: 45px;
    margin: 0px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    padding-left: 45px;
    font-size: 14px;
    background-image: url('../../images/vistaCumplimientoTareas/acarrow.svg');
    background-position: center right;
    background-color: transparent;
}

.doble {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    margin: 0px 0px 10px 7px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.ical {
    background-image:
        url('../../images/vistaCumplimientoTareas/ical.svg');
}

.icanal {
    background-image:
        url('../../images/vistaCumplimientoTareas/icanal.svg');
}

.ipais {
    background-image:
        url('../../images/vistaCumplimientoTareas/ipais.svg');
}

input.money {
    padding-left: 22px;
    background-image:
        url("../../images/vistaCumplimientoTareas/dinero.svg");
    background-repeat: no-repeat;
    background-position: top left;
    text-align: right;
}

input.w90p {
    width: 90px
}

textarea {
    resize: none;
    -moz-box-sizing: border-box;
    border: 1px solid #646467;
    margin: 0px;
    padding: 5px;
}

input[type=checkbox]:not(old), input[type=radio]:not(old) {
    width: 28px;
    margin-left: 29;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:not(old)+label, input[type=radio]:not(old)+label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    background:
        url('../../images/vistaCumplimientoTareas/palomita.svg')
        no-repeat 0 0;
    height: 17px;
    line-height: 17px;
    cursor: pointer;
}

input[type=checkbox]:not(old):checked+label, input[type=radio]:not(old):checked+label
{
    background-position: 0 -48px;
}

input.disabled[type=checkbox]:not(old) {
    width: 28px;
    margin-left: 29;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

input.disabled[type=checkbox]:not(old)+label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    background:
        url('../../images/vistaCumplimientoTareas/palomita2.svg')
        no-repeat 0 0;
    height: 15px;
    line-height: 17px;
    cursor: pointer;
}

input.disabled[type=checkbox]:not(old):checked+label {
    background-position: 0 -48px;
}

input.switch[type=checkbox]:not(old) {
    width: 28px;
    margin-left: 5px;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

input.switch[type=checkbox]:not(old)+label {
    display: inline-block;
    margin-left: -35px;
    padding-left: 35px;
    background:
        url('../../images/vistaCumplimientoTareas/switch.svg')
        no-repeat 0 0;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
}

input.switch[type=checkbox]:not(old):checked+label {
    background-position: 0 -48px;
}