/* CSS del Carousel elaborado apartir de las bibliotecas de Bootstrap */
.container {
    position: absolute;
    height: 400px;
    width: 600px;
    left: 25%;
}

#content:hover {
    position: relative;
    z-index: 1;
}

.carousel {
    position: relative;
    z-index: -1;
}

.carousel:hover {
    position: relative;
    z-index: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner>.item {
    position: relative;
    display: none;
    transition: .6s ease-in-out left;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width: 700px;
    height: 500px;
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block
}

.carousel-inner>.active {
    left: 0
}

.carousel-inner>.next, .carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner>.next {
    left: 100%
}

.carousel-inner>.prev {
    left: -100%
}

.carousel-inner>.next.left, .carousel-inner>.prev.right {
    left: 0
}

.carousel-inner>.active.left {
    left: -100%
}

.carousel-inner>.active.right {
    left: 100%
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 50;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

/*BOTON NEXT UNSELECTED*/
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #D8D8D8;
    background-color: #D8D8D8;
    border-radius: 10px
}

/*BOTON NEXT SELECTED*/
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #848484;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #BDBDBD;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-caption .btn {
    text-shadow: none
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive,
.thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

[role=button] {
    cursor: pointer
}

.flechas {
    position: absolute;
    top: 40%;
    font-size: 80px;
    z-index: 1;
    font-weight: bold;
    color: #ffffff;
    opacity: .5;
    text-decoration: none;
}

#fAnterior {
    left: 0%;
    z-index: 0;
}

#fSiguiente {
    right: 0%;
}

#fAnterior:hover {
    transform: scale(1.5);
    color: white;
    opacity: .9;
    z-index: 1;
}

#fSiguiente:hover {
    transform: scale(1.5);
    color: white;
    opacity: .9;
}

/* CSS del Carousel TRIUNFO*/
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -1000px;
}

#popup:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    /*z-index: 999;*/
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.popup-contenedor {
    position: relative;
    margin: 7% auto;
    padding: 0px 0px;
    background-color: #fafafa;
    color: #333;
    border-radius: 3px;
    width: 75%;
}

a.popup-cerrar {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}

/*INICIA CAROUSEL TRIUNFO*/
#contentTriunfo {
    position: relative;
    height: 100%;
    width: 600px;
    z-index: 1;
}

.carouselTriunfo {
    position: relative;
    z-index: 1;
}

.carouselTriunfo-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carouselTriunfo-inner>.item {
    position: relative;
    display: none;
    transition: .6s ease-in-out left;
}

.carouselTriunfo-inner>.item>a>img, .carouselTriunfo-inner>.item>img {
    width: 100%;
    height: 100%;
}

.carouselTriunfo-inner>.active, .carouselTriunfo-inner>.next,
.carouselTriunfo-inner>.prev {
    display: block
}

.carouselTriunfo-inner>.active {
    left: 0
}

.carouselTriunfo-inner>.next, .carouselTriunfo-inner>.prev {
    position: absolute;
    top: 0;
    width: 95%;
}

.carouselTriunfo-inner>.next {
    left: 100%
}

.carouselTriunfo-inner>.prev {
    left: -10%
}

.carouselTriunfo-inner>.next.left, .carouselTriunfo-inner>.prev.right {
    left: 0
}

.carouselTriunfo-inner>.active.left {
    left: 100%
}

.carouselTriunfo-inner>.active.right {
    left: 100%
}

.carouselTriunfo-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 1;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

/*BOTON NEXT UNSELECTED*/
.carouselTriunfo-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #D8D8D8;
    background-color: #D8D8D8;
    border-radius: 10px
}

/*BOTON NEXT SELECTED*/
.carouselTriunfo-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #848484;
}

.carouselTriunfo-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #BDBDBD;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carouselTriunfo-caption .btn {
    text-shadow: none
}

.carouselTriunfo-inner>.item>a>img, .carouselTriunfo-inner>.item>img,
.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

[role=button] {
    cursor: pointer
}

.flechas {
    position: absolute;
    top: 40%;
    font-size: 80px;
    z-index: 0;
    font-weight: bold;
    color: #ffffff;
    opacity: .5;
    text-decoration: none;
}

#myCarouselTriunfo {
    margin-right: 15px;
}

#fAnterior {
    left: 0%;
}

#fSiguiente {
    right: 0%;
}

#fAnterior:hover {
    transform: scale(1.5);
    color: white;
    opacity: .9;
}

#fSiguiente:hover {
    transform: scale(1.5);
    color: white;
    opacity: .9;
}

/*********ESTILO MENU*********/
/* visited link */
#menu {
    width: auto;
    height: 30px;
    background-color: #ffffff;
    text-align: center;
    min-width: 750px;
}

#menuContainer {
    height: 30px;
    width: auto;
    min-width: 750px;
    background-color: #ffffff;
    border-bottom: 1px solid #9e9e9e;
}

#opcion {
    width: 17%;
    min-width: 210px;
    height: 30px;
    background-color: #ffffff;
    border-right: 1px solid #5c5c5c;
    display: inline-block;
    float: left;
    font-size: 15px;
    font: CalibriBold;
}
#opcion1 {
    width: 17%;
    min-width: 14%;
    height: 30px;
    background-color: #ffffff;
    border-left: 1px solid #5c5c5c;
    display: inline-block;
    float: right;
    font-size: 15px;
    font: CalibriBold;
}
#opcion2 {
    width: 6%;
    min-width: 2%;
    height: 30px;
    background-color: #ffffff;
    display: inline-block;
    float: left;
}

#opcionMenu {
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    display: inline-block;
    float: left;
    font-size: 15px;
    font: CalibriBold;
}

#linkMenu {
    background: #ffffff;
    width: 100%;
    height: 29px;
}

#linkMenu:link {
    background: #ffffff;
    color: #666667;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#linkMenu:hover {
    background: #d3d2d4;
    color: #ffffff;
    /*box-shadow: inset 0 0 0 3px #555953;*/
}

/*NUEVOOOOOO*/
#linkMenuHijo {
    background-color: #ffffff;
    width: 100%;
    color: #3d3d3f;
    height: 40px;
    float: right;
    position: relative;
    vertical-align: middle;
    z-index: 10;
    border-top: 1px solid #9e9e9e;
}

#linkMenuHijo:hover {
    opacity: 1;
    background: #b5dfc9;
    color: #3d3d3f;
    position: relative;
    z-index: 10;
    cursor: pointer;
    /*box-shadow: inset 0 0 0 3px #555953;*/
}

div.background {
    background: url(klematis.jpg) repeat;
    border: 2px solid black;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
/*NUEVOOOOOO*/
#linkMenuHijoSub {
    background-color: #ffffff;
    width: 100%;
    color: #3d3d3f;
    width: 100%;
    height: 40px;
    z-index: 10;
    border-top: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
}

#linkMenuHijoSub:hover {
    opacity: 1;
    background: #b5dfc9;
    color: #3d3d3f;
    position: relative;
    z-index: 10;
    cursor: pointer;
    /*box-shadow: inset 0 0 0 3px #555953;*/
}

/*ESTILO CIERRE DE SESION*/
#linkMenuCierre {
    background-color: #ffffff;
    width: 100%;
    color: #3d3d3f;
    width: 100%;
    height: 40px;
    z-index: 10;
    border-top: 1px solid black;
    float: right;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

#linkMenuCierre:hover {
    opacity: 1;
    background: #b5dfc9;
    color: #3d3d3f;
    position: relative;
    z-index: 10;
    cursor: pointer;
    /*box-shadow: inset 0 0 0 3px #555953;*/
}
/*ACABA ESTILO CIERRE DE SESION*/
#ocultaMenu {
    width: 10%;
    height: 100%;
    background-color: #F2F2F2;
    display: inline-block;
}

#subir, #saber, #reportes {
    width: 20px;
    height: 20px;
}

#checklist {
    width: 20px;
    height: 20px;
    margin-top: 0.5em;
}
#agenda {
    width: 20px;
    height: 20px;
    margin-top: 0.5em;
}

#agendaCierre {
    width: 15px;
    height: 15px;
    margin-top: 0.9em;
    margin-right: 7px
}

#agendaCierreFuera {
    display: inline-block;
    height: 18px;
}

#ocultaButtonContainer {
    width: 51%;
    height: 12px;
    background-color: #F2F2F2;
}

#button {
    width: 5%;
    height: 50%;
    background-color: #F2F2F2;
    float: right;
}

#buttonOculta {
    width: 9px;
    height: 9px;
}

#buttonOculta {
    width: 9px;
    height: 9px;
}

/*MENU DESPLEGABLE*/
ul {
    list-style: none;
    list-style-position: inside;
}

ol {
    list-style: none;
    list-style-position: inside;
}

li {
    margin-left: 0px;
    background-color: white;
    color: white;
    text-decoration: none;
}

#subMenuLinkMenuHijo {
    position: absolute;
    margin-left: 100%;
    background-color: WHITE;
    color: white;
    text-decoration: none;
    opacity: .95;
    top: -2%;
}

a,p {
    margin-left: 0px;
    color: #78787b;
    text-decoration: none;
    text-align: center;
}

.nav {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    margin-botton: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    float: left;
    font-size: 11.5px;
    font: Calibri;
}

.nav li ul {
    background-color: #ffffff;
    display: none;
    min-width: auto 0;
}

.nav li:hover>ul {
    display: block;
}

/*ESTILO CIERRE DE SESION*/
.navCierre {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    margin-botton: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    float: left;
    font-size: 11.5px;
    font: Calibri;
}

.navCierre li a:hover {

}

.navCierre li ul {
    background-color: #ffffff;
    display: none;
    min-width: auto 0;
}

.navCierre li:hover>ul {
    display: block;
}
/*ACABA ESTILO CIERRE DE SESION*/
ul {
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    float: left;
    font-size: 11.5px;
    font: Calibri;
    list-style-position: outside;
}

li:hover {
    background-color: #ffffff;
}

/*ESTILO BUSCADOR*/
#buscador {
    text-align: center;
}

#data {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 10px;
}

#tituloBuscador {
    color: #6b716d;
}

#fuerte {
    color: #2b2d2b;
}

/*ESTLO MOSTRAR (DOCUMENTO)*/
#containerDocumento {
    margin: auto;
    width: 50%;
    height: 450px;
}

#containerBuscador {
    margin-left: 27%;
    margin-right: 20%;
    width: auto;
    height: 60px;
    padding: 10px;
}

#containerDataBuscador {
    margin: auto;
    width: 80%;
    height: 40px;
    float: left;
    border: 4px solid #F2F2F2;
}

#containerButtonBuscador {
    margin: auto;
    width: 40px;
    height: 48px;
    float: left;
    border: 4px solid #F2F2F2;
}

#w-input-search {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px #b5b6be;
    color: #225a10;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    float: left;
}

#button-id {
    width: 100%;
    height: 100%;
}

#buttonImage {
    width: 100%;
    height: 100%;
}

#frecuente1 {
    margin: auto;
    width: 40%;
    height: 40px;
    min-width: 500px;
    padding: 10px;
    box-shadow: 0 0 15px #b5b6be;
    background: #ffffff;
    color: #696969;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#frecuente2 {
    margin: auto;
    width: 40%;
    height: 40px;
    min-width: 500px;
    padding: 10px;
    box-shadow: 0 0 15px #b5b6be;
    background: #ffffff;
    color: #696969;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*ESTILO RESULTADO BUSQUEDA*/
/*ESTILO DIV DE RESULTADOS DE BUSQUEDA*/
#containerResultadosBusqueda {
    background-color: #F2F2F2;
    margin: auto;
    width: 40%;
    min-width: 500px;
    height: auto;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#recursoBusqueda {
    background-color: #a9698b;
    height: 50px;
    width: auto;
    min-width: 500px;
    text-align: left;
    box-shadow: 0 0 15px #b5b6be;
    background: #ffffff;
    color: #696969;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#linkRecurso:link {
    color: #696969;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*ESTLO (DOCUMENTO)*/
#containerDocumento {
    margin: auto;
    width: 100%;
    height: 400px;
}

#dataDocumento {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
}

#containerCalifica {
    width: 100%;
    height: 100px;
    vertical-align: text-top;
    margin: 0 auto;
    background-color: #F2F2F2;
    text-align: center;
}

#califica {
    text-align: right;
    float: left;
    vertical-align: text-top;
    margin: 0 auto 0 auto;
    height: 80px;
    width: 60%;
    background-color: #F2F2F2;
}

.star {
    width: 25px;
    height: 25px;
}

#linkButtonContainer {
    float: right;
    margin: 0 auto 0 auto;
    height: 80px;
    width: 40%;
    background-color: #F2F2F2;
}

#linkRegresarContainer {
    background-color: #b8b8b8;
    height: 40px;
    width: 100px;
    float: right;
    border: 2px solid #F2F2F2;
}

#linkSalirContainer {
    background-color: #b8b8b8;
    height: 40px;
    width: 100px;
    float: right;
    border: 2px solid #F2F2F2;
}

#linkRegresarContainer:hover, #linkSalirContainer:hover {
    background: #B3B3B3;
    color: #ffffff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    font: 10px Calibri Bold;
}

/*ESTILO FORM SUBIR ARCHIVO*/
#formArchiveContainer {
    margin: auto;
    width: 400px;
    height: 171px;
    padding: 10px;
    box-shadow: 0 0 15px #b5b6be;
    background: #ffffff;
    color: #696969;
    text-align: center;
}

/*BOTON DE REGRESAR*/
#linkSalirCenterContainer {
    margin: auto;
    float: auto;
    background: #0AC986;
    text-align: center;
    dispaly: inline-block;
    width: 100px;
    font-size: 16px;
    height: 25px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#buttonLink {
    color: white;;
}

/*ESTLO (DOCUMENTO CHECKLIST FIJO)*/
#containerDocumentoCheck {
    margin: auto;
    width: 100%;
    height: 480px;
}

#dataDocumentoCheck {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
}

/*CSS IMAGENES VISTA TRIUNFO*/
.triunfo-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: none;
    transition: .6s ease-in-out left;
    display: block;
    z-index: -10;
}

#imgTriunfo{
    width: 100%;
    height: 100%;
    z-index: -10;
}

/*ESTILO BOTON FRANQUICIA*/
.log-btn {
    background: #0AC986;
    text-align: center;
    dispaly: inline-block;
    width: 100px;
    font-size: 16px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#log-btn:hover {
    cursor: pointer;
}
