@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
h3{

    position: relative;
    text-align: center;

    font:14px 'Roboto-Regular';
    /*text-decoration: none;*/
    color:#000;

    font-weight: 700;
}

div.seccionD {
    /*display:inline-block;*/
    /*border-style: inset;*/
    /*margin:20px;*/
    border:solid 1px;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 24px;
    margin-left: 24px;

    position: absolute;
    top: 0%;
    left: 48%;
    transform: translateX(-50%);
    /*width:80%;*/
    width:95%;
    height:auto;
    /*height:20%;*/
    z-index: 1;

}


div.seccionVP {
    display:inline-block;
    overflow-y: auto;
    /*height: 300px;*/
    /*border-style: inset;*/
    border: solid 1px;
    /*border-width: 1px;*/
    /*margin:20px;*/
    background: #fff;

    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 24px;
    margin-left: 24px;

    position: absolute;
    top:350px;
    left: 48%;
    transform: translateX(-50%);
    /*width:80%;*/
    width:95%;
    height:40%;
    z-index: 0;
}

/*********************************estilo para el div de la vista previa del checklist*********************************/
div.seccionVP> ul {

    height:auto;

}
div.seccionVP> ul >li:nth-child(odd){

    font:14px 'Roboto-Regular';
    /*text-decoration: none;*/
    list-style: decimal inside;
    color:#000;
    /*margin-left: 1em;*/
    background:rgb(217, 240, 229);
    /*text-indent: 20px;*/
    margin-bottom:20px;

}

div.seccionVP> ul >li:nth-child(even){

    font:14px 'Roboto-Regular';
    /*text-decoration: none;*/
    list-style: decimal inside;
    color:#000;
    /*margin-left: 1em;*/
    background:rgb(255, 255, 255);
    /*text-indent: 20px;*/
    margin-bottom:20px;

}
div.seccionVP> ul >li:nth-child(odd)>ul li{

    font:14px 'Roboto-Regular';
    /*text-decoration: none;*/
    list-style: circle inside;
    color:#000;
    /*margin-left: 1em;*/
    background:rgb(217, 240, 229);
    text-indent: 20px;

}

div.seccionVP> ul >li:nth-child(even)>ul li{

    font:14px 'Roboto-Regular';
    /*text-decoration: none;*/
    list-style: circle inside;
    color:#000;
    /*margin-left: 1em;*/
    background:rgb(255, 255, 255);
    text-indent: 20px;
}

div.contenedor {
    border-style: inset;
    border-width: 1px;
    margin-top:50px;
    /*margin:20px;*/
    background: #E5E5E5;
    width: 80%;
    height: 83%;
    /*alineacion del div en el centro de la pantalla*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}


div.seccionFinal {
    position: relative;
    border-style: none;
    margin: 0px;
    text-align: right;
    top:91%;

    /*se alinea al componente a la derecha*/
    /*position:relative;
    right:90px;*/
}

.listaAgregarPregunta {
    list-style-type: none;
    padding: 0px;
}
/*
ul>li{

         background:rgb(217,240,229);
}
*/

/*********************************propiedades de los cuadros de texto*********************************/
.textBoxEstilo {
    /*estilo de linea punteada*/
    border-style: dashed;
    /*grosor del borde*/
    border-width: 2px;
    /*redondeo de esquinas*/
    border-radius: 10px 10px 10px 10px;
    /*color del borde*/
    border-color: #939393 #939393 #939393 #939393;
    /*dimensiones de altura y ancho*/
    height: 20px;
    width: 51%;
    /*margen entre componentes*/
    /*margin: 10px;*/
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    font: 14px 'Roboto-LightItalic';
    text-align:center;
}

.textBoxEstilo:hover {
    /*decoracion de la linea*/
    text-decoration: none;
    /*opacidad*/
    /*opacity: 0.5;*/
    background: #fff;
}

.textBoxEstilo:focus {
    /*estilo de linea al seleccionar un elemento*/
    outline: none;
    /*estilo de la letra */
    font-weight: 700;
    background: #fff;
    /*color del borde*/
    border-color: #00CC00;
}

/*********************************propiedades del boton agregar*********************************/
.botonAgregar {
    /*box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .5), inset -2px -2px
            3px rgba(0, 0, 0, .1), 2px 2px 10px rgba(0, 0, 0, .1);
    color: #fff;*/
    /*redondeo de esquinas*/
    /*border-radius: 100px 100px 100px 100px;*/
    /* estilo del borde*/
    /*border-style: solid;*/
    /*grosor del borde*/
    /*border-width: 1px;
    background: #55A351;
    text-align: center;*/
    /*dimensiones de altura y ancho*/
    /*height: 30px;
    width: 30px;
    font: 14px 'Roboto-Regular';*/


    background: #0AC986;
    /*dispaly: inline-block;*/
    width: 30px;
    height: 30px;
    color: white;
    background-color: #42B47B;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*position: absolute;*/
    top: 760px;
    /*right: 93px;*/
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    /*margin-right: 93px;*/

    border-radius: 100px 100px 100px 100px;
}

.botonAgregar:focus {
    /* estilo del borde*/
    outline: none;
}

.botonAgregar:hover {
    /*decoracion de la linea*/
    text-decoration: none;
    /*opacidad*/
    opacity: 0.5;
}

/*********************************propiedades del boton de continuar*********************************/
.botonContinuar {
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .3), inset -2px -2px
        3px rgba(0, 0, 0, .1), 2px 2px 10px rgba(0, 0, 0, .1);
    /*redondeo de esquinas*/
    border-radius: 5px 5px 5px 5px;
    /* estilo del borde*/
    border-style: solid;
    /*grosor del borde*/
    border-width: 1px;
    background: #55A351;
    text-align: center;
    color: #fff;
    /*dimensiones de altura y ancho*/
    height: 30px;

    /*se alinea al componente a la derecha*/
    /*position:absolute;
    right:0px;*/
    /*se agrega margen*/
    margin-right: 93px;
    margin-bottom: 20px;
    /*negrillado de la letra*/
    font-weight: 700;
    font: 14px 'Roboto-Regular';
}

.botonContinuar:hover {
    /*decoracion de la linea*/
    text-decoration: none;
    /*opacidad*/
    opacity: 0.8;
}


.log-btn2 {
    background: #0AC986;
    /*dispaly: inline-block;*/
    width: 100px;
    height: 30px;
    color: white;
    background-color: #42B47B;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*position: absolute;*/
    top: 760px;
    right: 93px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    margin-right: 93px;
}

#log-btn2:hover {
    cursor: pointer;
}


/*********************************propiedades del combo personalizado*********************************/
.caja {
    /*background: none repeat scroll 0 0 #E5F0D9;*/
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    /*padding: 5px 10px;*/
    position : relative;

    border: 1px solid #dedede;
    /*tipo de alineacion */
    display: inline-block;
    text-align: left;
    width: 185px;
    font: 14px 'Roboto-Regular';

}

ul.listaselect {
    /*background: none repeat scroll 0 0 #fff;*/
    background: #fff;
    border: 1px solid #dedede;
    display: none;
    left: -1px;
    margin-left: 0;
    margin-top: 20px;
    padding-left: 0;
    position: absolute;
    /*text-indent: 15px;*/
    top: 0;
    width: 185px;
    font: 14px 'Roboto-Regular';
    /*overflow-y: auto;
    max-height:300px;*/
    height:auto;
    max-height: 300px;
    overflow: auto;


}

ul.listaselect li {
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    display: block;
    /*line-height: 15px;*/
    list-style: outside none none;
    margin: 0;
    /*padding: 1.1em 0.3em;*/

}

ul.listaselect li a {
    color: #333;
    text-decoration: none;
}

ul.listaselect li:hover {
    color: #999797;
    text-decoration: none;
    background: rgb(217, 240, 229);
    z-index: 0;
}

ul.SelectProductos li:last-child {
    border-bottom: medium none;

}

.seleccionado {
    color: black;
    display: block;
    font-weight: 700;
    /*line-height: 3;*/
    text-indent: 10px;

}

.trianguloinf {
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    border-top: 13px solid #000000;
    height: 0;
    position: absolute;
    right: 10px;
    top: 3px;
    width: 0;

}

.triangulosup {
    border-bottom: 13px solid #000000;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    height: 0;
    position: absolute;
    right: 10px;
    top: 3px;
    width: 0;

}


/*********************************estilo para el div del arbol de decisiones del checklist*********************************/
div.separadorOpciones{

    position : relative;

    border: 1px solid #dedede;
    /*tipo de alineacion */
    display: inline-block;
    height:40px;
    width:30px;

    text-align: center;


}
div.seccionArbol {
    display:inline-block;
    /*overflow-y: auto;*/
    /*height: 300px;*/
    /*border-style: inset;*/
    border: solid 1px;
    /*border-width: 1px;*/
    /*margin:20px;*/
    background: #fff;

    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 24px;
    margin-left: 24px;

    position: absolute;
    top:10%;
    left: 48%;
    transform: translateX(-50%);
    width:95%;
    height:80%;
    z-index: 0;
}
/*
div.seccionArbol table{
        border-collapse: collapse;
        width:100%;


}

div.seccionArbol table tr:nth-child(n+1){

        border: solid 0px #fff;

}
div.seccionArbol table tr:nth-child(1){

        border: solid 0px #fff;


}
div.seccionArbol table tr:nth-child(odd){

        position: relative;
        text-align: center;
        background:rgb(217, 240, 229);
        border-bottom-width: 5px;
        border-bottom-color: #fff;


}

div.seccionArbol table tr:nth-child(even){

        position: relative;
        text-align: center;
        background:rgb(255, 255, 255);
        border-bottom-width: 5px;
        border-bottom-color: #fff;




}
td.tituloPregunta{
        background: rgb(105, 182, 176);
        position: relative;
        text-align: left;
        font-weight: 700;
        text-indent: 20px;

}
tr.encabezado th{
        font-size:16px;
        background: rgb(57, 183, 134);
        position: relative;
        text-align: center;
        font-weight: 700;

}

tbody{

        overflow: scroll;
    height:300px;
    display:block;
}
*/


table.tabla {
    display: flex;
    flex-flow: column;
    height: 60%;
    width: 100%;
}
table.tabla thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table.tabla tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table.tabla tbody tr {
    width: 100%;
}
table.tabla thead,
table.tabla tbody tr {
    display: table;
    table-layout: fixed;
}

table.tabla {
    border: 1px solid lightgrey;
}
table.tabla td {
    padding: 0.3em;
    border: 1px solid lightgrey;
}
table.tabla th {
    border: 1px solid grey;
}

table.tabla tr:nth-child(odd){

    background:rgb(217, 240, 229);


}
table.tabla tr:nth-child(even){

    background:rgb(255, 255, 255);
}

.tituloPregunta{
    background: rgb(105, 182, 176);
    font-weight: 700;
    text-indent: 20px;

}
/*********************************Seccion de la asignacion del checklist *********************************/


div.seccionAsignacion {
    overflow-y: auto;
    /*display:inline-block;*/
    border: solid 1px;
    background: #fff;

    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 24px;
    margin-left: 24px;

    position: absolute;
    top:10%;
    left: 48%;
    transform: translateX(-50%);
    width:95%;
    height:80%;
    z-index: 0;

    padding: 0;
}
div.seccionAsignacion input{

    /*estilo de linea punteada*/
    border-style: dashed;
    /*grosor del borde*/
    border-width: 2px;
    /*redondeo de esquinas*/
    border-radius: 10px 10px 10px 10px;
    /*color del borde*/
    border-color: #939393 #939393 #939393 #939393;
    /*dimensiones de altura y ancho*/
    height: 30px;
    width: 50%;
    /*margen entre componentes*/
    /*margin: 10px;*/
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    font: 14px 'Roboto-LightItalic';


}



div.seccionAsignacion ul.opciones{
    font: 14px 'Roboto-Regular';
    color:#000;
    height: auto;

}




div.seccionAsignacion ul.opciones >li{

    font: 14px 'Roboto-Regular';
    color:#000;
    list-style: decimal inside;
    margin:10px;

}

div.seccionAsignacion ul.opciones>li>ul>li{

    font: 14px 'Roboto-Regular';
    color:#000;
    list-style: circle inside;
    text-indent: 5em;
    margin:10px;


}

/*******tooltip******/


.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
    width:20%;
    margin:10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*botones de contaer y desplegar*/
.botonDesplegar{
    background-image:url('../css/checklistDesign/desplegar.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 20px 20px;
    height:20px;
    width:20px;
    background-color:transparent;
    border:none;

    position: absolute;
    right:0%;
    margin:5px;

}
.botonDesplegar:hover{
    opacity: 0.7;
}

.botonContraer{
    background-image:url('../css/checklistDesign/retraer.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 20px 20px;
    height:20px;
    width:20px;
    background-color:transparent;
    border:none;

    position: absolute;
    right:3%;
    margin:5px;
}
.botonContraer:hover{
    opacity: 0.7;
}



.botonEditar{
    background-image:url('../css/checklistDesign/editar.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 20px 20px;
    height:20px;
    width:20px;
    background-color:transparent;
    border:none;

    position: absolute;
    right:6%;
    margin:5px;
}
.botonEditar:hover{
    opacity: 0.7;
}

.botonEliminar{
    background-image:url('../css/checklistDesign/eliminar.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 20px 20px;
    height:20px;
    width:20px;
    background-color:transparent;
    border:none;

    position: absolute;
    right:9%;
    margin:5px;
}
.botonEliminar:hover{
    opacity: 0.7;
}
