
#myTable , #myTableNuevo {
    position: relative;
    display: flex;
    flex-flow: column;
    height:40em;
    width:  calc(100% - 0.9em);
}
#myTable , #myTableNuevo thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
#myTable, #myTableNuevo tbody {
    flex: 1 1 auto;
    display: block;
}

#generalesNuevo{
    width: 35%;
    height: 0 auto;
    margin-left: 30%;
}

#resize{
    margin-left:50%;
    width:35px;
    height:35px;
}
