/*HEADER CSS*/
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf');
}

body {
    background: #F2F2F2;
    margin:auto;
    height:auto;
}

div.franquicias {
    background-image: url("../images/header/pleca.png");
    background-repeat: no-repeat;
    min-width:750px;
    background-size: 100% 100%;
    height:70px;
    margin: 0 auto;
    border-color: #faf7ff;
}

div.imageheader{
    text-align:left;
    width:250px;
    float:left;
    height:33px;
    margin-top: 15px;
    margin-left: 10px;
}

div.textheader {
    text-align:right;
    font: 110% Calibri;
    width:400px;
    float:right;
    height:30px;
    color : #fdfcff;
    margin-top: 17px;
    margin-right: 17px;
}




/*ESTILO CIERRE DE SESION*/
div.textheaderCierre {
    text-align:right;
    font: 100% Calibri;
    width:400px;
    float:right;
    height:30px;
    color : #f8fff1;
    margin-top: 14px;
    margin-right: 10px;
}
/*ACABA ESTILO CIERRE DE SESION*/



/*END HEADER CSS*/
