@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Calibri.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Calibri.ttf');
}
@font-face {
    font-family: 'CalibriItalic';
    src: url('../fonts/CalibriItalic.ttf');
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf');
}

body{
    font-family: 'Calibri';
}
/*CSS MENU*/
.margenGeneral {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    min-width: 1200px;
    height: 0 auto;
    border-radius: 25px;
    border: 2px solid #fffff;
    padding: 20px;
    -webkit-box-shadow: 3px -1px 9px -1px rgba(97, 85, 97, 1);
    -moz-box-shadow: 3px -1px 9px -1px rgba(97, 85, 97, 1);
    box-shadow: 3px -1px 9px -1px rgba(97, 85, 97, 1);
}

.positionGeneral {
    float: left;
    margin-left:0 auto;
    height: 32px;
    width: 82%;
    min-width: 600px;
    position: relative;
    bottom: -10px;
    white-space: nowrap;
}

.opcion {
    background-color: rgba(1, 112, 15, 0.92);
    margin-left: -0.25em;
    height: 60px;
    width: 27%;
    display: inline-block;
    position: relative;
    border-left:1px solid #9e9f9e;
    border-top:1px solid #9e9f9e;
    border-right:1px solid #9e9f9e;
    border-bottom: :1px solid #9e9f9e;
    cursor: pointer;
    text-align: center;
    font:15px 'Calibri';
    z-index:0;
}

.opcionUnica {
    background-color: rgba(1, 112, 15, 0.92);
    margin-left: -0.25em;
    height: 60px;
    width: 80%;
    display: inline-block;
    position: relative;
    border-left:1px solid #9e9f9e;
    border-top:1px solid #9e9f9e;
    border-right:1px solid #9e9f9e;
    border-bottom: :1px solid #9e9f9e;
    cursor: pointer;
    text-align: center;
    font:15px 'Calibri';
    z-index:0;
}


.opcionGeneral {
    margin-left: 0em;
    height: 60px;
    width: 20%;
    display: inline-block;
    position: relative;
    text-align: center;
    font:15px 'Calibri';
    z-index:0;
}

.opcion:hover {
    background: rgba(15, 62, 17, 0.99);
    color:white;
    z-index:1;
}

.opcioUnica:hover {
    background: rgba(15, 62, 17, 0.99);
    color:white;
    z-index:1;
}
.textCenterMenuGeneral{
    margin-top:3px;
    margin-left:0px;
    color:white;
    width:100%;
    color: black;
}
.textCenterMenu{
    margin-top:3px;
    margin-left:0px;
    color:white;
    width:100%;
}
.textCenterMenu:hover{
    color:white;
}

.tamImagenMenuCheck{
    width: 22px;
    height: 22px;
    position:absolute;
    margin-left: -30px;
}

/*OPCIONES GENERALES (LOGO TRIUNFO, FECHA Y LOGO BANCO)*/
#triunfo {
    width: 15%;
}
#fecha {
    background-color: rgba(1, 112, 15, 0.92);
    margin-left: 0em;
    height: 60px;
    width: 13%;
    display: inline-block;
    position: relative;
    border-left:1px solid #9e9f9e;
    border-top:1px solid #9e9f9e;
    border-right:1px solid #9e9f9e;
    border-bottom: :1px solid #9e9f9e;
    cursor: pointer;
    text-align: center;
    font:15px 'Calibri';
    z-index:0;
}

#banco {
    width: 10%;
}

/*CSS SELECT*/
/*CSS SELECT*/
.selectContainer {
    float: left;
    margin-left: 8%;
    height: 30px;
    width: 30%;
    min-width: 550px;
    position: relative;
    right: 7%;
    bottom: -9px;
    white-space: nowrap;
}

select{
    margin-right: 6%;
    width: 9em;
}

/*Region*/
.region {
    border-style: none;
    background-color: rgba(1, 86, 12, 0.92);
    height: 30px;
    width: 100%;
    display: inline-block;
    position: relative;
    min-width: 750px;
    cursor: pointer;
    text-align: center;
    font:20px 'Calibri';
    z-index:0;
    text-align: left;
    color: white;
}

/*TABLA*/
.tablaReporte {
    width: 400px;
    font-family: Calibri;
    font-size: 15px;
    /*scroll; 2100px;*/
    min-width: 100%;
    text-align: center;
    overflow: auto;
}

.tablaReporteContainer {
    border-radius: 25px;
    border: 2px solid #344e0f;
    padding: 20px;
    overflow:auto;


}

.margenResumenGeneral{
    min-width: 1200px;
    height: 700px;
    margin: 30px 30px 30px 30px;
    background: white;
    box-shadow: 5px 5px 17px #000000;
}

.thFinal{
    font-weight: bold;
    font:22px 'Calibri';
    border-top: 4px solid #0c430c;
    border-left: 4px solid #0c430c;
    border-right: 4px solid #0c430c;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;


}

td.reporte{
    height: 100px;
    border-left: 1px solid rgba(105, 178, 107, 0.72);
    font:18px 'Calibri';



}

tbody.reporte {
    display: block;
    height: 600px;
    overflow: auto;
    margin-left: 0.6em;
}
thead.reporte {
    display: block;
    overflow-y: scroll;
}

tbody{
    width: 99.4%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}


tr{
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}
th {
    font-weight: normal;
    font:18px 'Calibri';
    border-bottom: 3px solid rgba(105, 178, 107, 0.72);
}




#tituloTabla{
    text-align: center;
    font:22px 'Calibri';
}


#tdFinal{
    border-left: 5px solid #0c430c;
    border-right: 5px solid #0c430c;
}


/*MODAL --- Lo mostramos 'hidden' por default*/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
        url(ajax-loader.gif)
        50% 50%
        no-repeat;
}

/* Cuando el body tiene la clase 'loading' ocultamos la barra de navegacion */
body.loading {
    overflow: hidden;
}

/* Siempre que el body tenga la clase 'loading' mostramos el modal del loading */
body.loading .modal {
    display: block;
}

.final{
    font-weight: Calibri;
    height: 100px;
    border-left: 3px solid rgba(64, 109, 66, 0.72);
    font:17px;

}


/*IMAGENES SUPERPUESTAS*/
.externo{
    height:115px;
    max-width:150px;
    margin-left: 25%;
}

.circle-central{
    width:65%;
    height:70%;
    background: blue;
    content: "";
    display: block;
    max-width: 100%;
    height:0;
    padding-bottom: 70%;
    background: white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-central div {
    float:right;
    margin-left:40%;
    width:80%;
    height: 1;
    margin-top: 17%;
    line-height:em;
    text-align:center;
    background-color:transparent;
}


.img-central{
    margin-top:10%;
    margin-right: 10%;
    width: 100px;
    background-color:transparent;
}

#img-sup-izq{
    background: yellow;
    width:25%;
    height: 3em;
    float: left;
}

#img-sup-der{
    width:25%;
    height: 3em;
    float: right;
}

#img-inf-izq{
    width:25%;
    height: 3em;
    float: left;
    margin-top: -28%;
}

#img-inf-der{
    float: right;
    margin-right: 40px;
    margin-top: -30px;
}

#imgSecundaria{
    width:90%;
    height:90%;
}



/*CARGANDO*/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
        url('../images/ajax-loader.gif')
        50% 50%
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal{
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


/*CALENDARIO*/
.li-stilovR {
    font: 14px 'Calibri';
    color: black;
    display: inline-block;
}

.textBoxInput {
    border-radius: 10px;
    width: 10em;
}

#calendario{
    display: inline-block;
    height: 0px;
    margin-top: -40px;
    margin-right: 5%;
}



div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable.no-close.ui-dialog-buttons{
    background-color: green;
}

div.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle{
    text-align: center;
}

div#dialog.ui-dialog-content.ui-widget-content{
    background-color: white;
    text-align: centeR;
}

div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{
    margin-top: -1px;
    align-content: center;
}

#text{
    background-color: transparent;
    width: 100%;
    margin-top: 20%;
    font: 16px 'Calibri';
}

/* VENTAN MODAL*/
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
}

#popup{
    visibility: hidden;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 1200px;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.popup-contenedor {
    position: relative;
    margin: 2% auto;
    min-width: 1200px;
    padding: 0px 9px;
    background-color: white;
    border-radius: 3px;
    width: 85%;
    height: 93%;
    overflow: scroll;
}
a.popup-cerrar {
    position: absolute;
    top:3px;
    right:3px;
    background-color: #285a43;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#fff;
}
/*FIN VENTANA MODAL*/
/*FIN VENTANA MODAL*/
#infoContainer{height: 50px;}
#leftInfoContainer{ width: 50%; height:100%; float: left;}
#rightInfoContainer{blue; width: 50%; max-height:100%; float: left; text-align: right; margin-top: 4px; }

.circle-text-verde:after {
    content: "";
    display: block;
    width: 50px;
    height:10px;
    padding-bottom: 40px;
    background: #198931;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin-left: 70%;

}
.circle-text-verde div {
    float:left;
    width:30px;
    padding-top:30px
        line-height:1px;
    margin-top:15px;
    text-align:center;
    color:white;
    margin-left: 71%;
}

.circle-text-amarillo:after {
    content: "";
    display: block;
    width: 50px;
    height:10px;
    margin-top: -50px;
    padding-bottom: 40px;
    background: #ffe000;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin-left: 80%;
}
.circle-text-amarillo div {
    float:left;
    width:30px;
    padding-top:-10px
        line-height:1px;
    margin-top:-19px;
    text-align:center;
    color:black;
    margin-left: 81%;
}

.circle-text-rojo:after {
    content: "";
    display: block;
    width: 50px;
    height:10px;
    margin-top: -50px;
    padding-bottom: 40px;
    background: #aa2b2e;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin-left: 90%;
}
.circle-text-rojo div {
    float:left;
    width:30px;
    padding-top:-10px
        line-height:1px;
    margin-top:-19px;
    text-align:center;
    color:black;
    margin-left: 91%;
}

.txtInfo{
    width: 90%;
    text-align: right;
}